<th:block>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9fcdff">
        <a class="navbar-brand" th:href="@{/}">Winery Club And Sho[</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item active">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" authorities="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Viruses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/viruses}">Show</a>
                        <a sec:authorize="hasAuthority('MODERATOR')" class="dropdown-item"
                           th:href="@{/viruses/add}">Add</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/map}">Map</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdminDropdown" authorities="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
                        <a class="dropdown-item" th:href="@{/users}">Show Users</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="nav-link border-0 bg-transparent" th:value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</th:block>